input {
    margin-top: 100px;
    padding: 2px 5px;

    width: 100%;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid grey;

    &:focus {
        outline: none;
    }
}

ul {
    list-style-type: none;
    padding: 0;

    li {
        margin: 0;
        padding: 5px;

        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }
    }
}
