.container {
    position: relative;
}

input {
    width: 100%;
    box-sizing: border-box;
}

ul {
    width: 100%;

    margin: 0;
    padding: 0;
    position: absolute;

    list-style-type: none;

    background: white;

    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;

    li {
        width: 100%;

        margin: 0;
        padding: 5px;

        cursor: pointer;

        &:hover {
            background-color: lightgray;
        }
    }
}